environment_variables = {
  GITHUB_CLIENT_ID                  = "xxx"
  COPILOT_MODEL                     = "gpt-5-mini"
  AZURE_BLOB_STORAGE_ACCOUNT_URL    = "https://xxx.blob.core.windows.net"
  AZURE_BLOB_STORAGE_CONTAINER_NAME = "xxx"
}

secret_environment_variables = {
  GITHUB_CLIENT_SECRET = "xxx"
  COPILOT_GITHUB_TOKEN = "github_pat_xxx"
}
