# ---------
# Project environment variables
# ---------

# Project Settings
PROJECT_NAME=adhoc
PROJECT_LOG_LEVEL=INFO

# Azure Blob Storage Settings
AZURE_BLOB_STORAGE_ACCOUNT_URL=https://<your-storage-account>.blob.core.windows.net
AZURE_BLOB_STORAGE_CONTAINER_NAME=adhoc
